{% load staticfiles %}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Hello Web App Project</title>

        <!-- Latest compiled and minified bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

        <style type="text/css">
            body {
                margin: 150px;
            }
            form {
                width: auto;
                margin: 0,auto;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="well col-sm-offset-4 col-sm-4">
                    <form method="post">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="John Doe">
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="text" class="form-control" id="age" placeholder="23">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4 well">
                    <h4>Full Name</h3>
                    <p>Age</p>
                </div>
            </div>
        </div>
    </body>
</html>
